@import "../global";

// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
@import '~select2/dist/css/select2.css';
// @import '~jstree/dist/themes/default/style.css';

// Fix inaccessible dropdown in .table-responsive dropdown buttons
.table-responsive {
    overflow-x: inherit;
    td:not(.btn-td) {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 200px;
    }
}

// Fix mobile footer
.app-footer {
    flex: 0 0;
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
}

.dropdown-menu>li>a>.fa, .dropdown-menu>li>a>.glyphicon, .dropdown-menu>li>a>.ion {
    margin-right: 10px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}